Options -MultiViews
RewriteEngine On

RewriteBase /archiweb_2024_projets_gr03/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]